<main class="page__main calculator">

    <input type="text" value="" class="calculator__header"></input>

    <button class="calculator__number">7</button>
    <button class="calculator__number">8</button>
    <button class="calculator__number">9</button>
    <button class="calculator__button divide">/</button>

    <button class="calculator__number">4</button>
    <button class="calculator__number">5</button>
    <button class="calculator__number">6</button>
    <button class="calculator__button multiply">x</button>

    <button class="calculator__number">1</button>
    <button class="calculator__number">2</button>
    <button class="calculator__number">3</button>
    <button class="calculator__button substract">-</button>

    <button class="calculator__number"></button>
    <button class="calculator__number">0</button>
    <button class="calculator__button result">=</button>
    <button class="calculator__button add">+</button>

    <button class="calculator__button clear">CLEAR</button>

</main>